.card{
    border: 1px solid gainsboro;
    width: fit-content;
    padding: 3%;
    box-shadow: 2px 2px 6px gainsboro;
}

.card:hover{
    box-shadow: 2px 2px 6px rgb(150, 187, 94);
    border: 1px solid rgb(150, 187, 94);;
    color: rgb(150, 187, 94);;
}

.img-fluid{
    height: 30vh;
    width: 35vh;
    object-fit: cover;
    margin-bottom: 5%;
}

.sectionArrow{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}